<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="card p-3 py-4">
        <div class="text-center">
          <img
            src="https://i.ibb.co/wWwPkmq/428604449-919341093173005-175439117143595983-n.jpg"
            width="100"
            class="rounded-circle"
          />
        </div>

        <div class="text-center mt-3">
          <span class="bg-pro p-1 px-4 rounded text-white">Pro</span>
          <h5 class="mt-2 mb-0">Ma Seo Sen</h5>
          <span>Developer | Software Engineer</span>

          <div class="px-4 mt-1">
            <p class="fonts">
             Cung cấp giải pháp cho các MMO online, Dịch vụ thiết kế website/app. SEO tăng tương tác trên mạng xã hội, tăng doanh số bán hàng.
            </p>
          </div>
          <ul class="social-list">
            @for (item of infos; track $index) {
              <li id="{{item.id}}">
                <a href="{{item.url}}" [title]="item.name">
                  <i class="{{item.icon}}"></i>
                </a>
              </li>
            }

          </ul>

          <div class="buttons">
            <button (click)="sendMessage()" class="btn btn-outline-primary px-4">Nhắn tin</button>
            <button (click)="contact()" class="btn btn-primary px-4 ms-3">Liên hệ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
